#container{
    position : relative;
    border: 10px solid lightgray;
    text-align: center;
}

h2{
    font-family: monospace;
    position:relative;
    text-align: center;
}

body{
    margin: 0px;
}

.square{
    padding: 20px;
    margin: 0%;
    width: 1px;
    border: 1px solid gray;
}
